<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
    </ul>
    <div class="navbar-nav" *ngIf="!loggedIn">
      <a routerLink="/login" class="nav-link">Login</a>
    </div>
    <div class="navbar-nav" *ngIf="loggedIn">
      <a routerLink="/" class="nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
